* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    h1 {
        text-align: center;
    }
}


body {
    background-color: #b3b3b3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}

header {
    display: flex;
    padding: 20px;
    background-color: #303030;
    border-bottom: 8px solid #089cff;

}

h1 {
    display: inline-block;
    font-size: 48px;
    color: white;
    margin-bottom: -165px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: #089cff;
    text-align: right;
    width: 20%;
    margin-left: -50px;
    padding-right: 10px;
    
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    position:relative 25px
}

.icon {
    width:100px;

}

main {
    flex: 1 0 70%;
}

a {
    color: #089cff;
    text-decoration: none;
}

a:hover {
    color: #62b0e4;
    font-weight: bold;
    text-shadow: 0px 0px 8px #6ebcf0;
    /* text-decoration: underline; */
    cursor: pointer;
}

p {
    font-size: 16px;
    width: 100%;
    padding-bottom: 8px;

}

.last-name {
    color: #089cff;
}

.header-image {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/blue-fractal-background1.jpg");
    background-size: cover;
    background-position: center;
}

.topnav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;    
    font-size: 20px;
    width: 100%;
}

.topnav div ul {
    list-style-type: none;
}

.topnav div ul li {
    display: inline-block;
    margin-left: 25px;
}

.nav-header {
    width: 100%;
    text-align: right;
}

section {
    width: 95%;
    display: inline-block;
    margin-left: 20px;    
}

.section-content {
    margin-bottom: 20px;
    padding: 50px;
    background-color: #424242;
    color: #ffffff;
    box-shadow: -4px -4px 4px #089cff;
}

.work-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 250px;
    margin: 10px auto;
}

.container {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
    flex: 1 0 20%;
    height: 124.5vh;
    width: 40%;    
    background-color: #424242;
}

.aside-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 4px solid #089cff;
    margin: 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 247, 255);
    
    
}


footer {
    background-color: #303030;
    padding: 30px;
    clear: both;    
    text-align: center;
}

